.employeeList{
  width: 70%;
  margin:0 auto;
}
.employeeList .employee{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; 
  margin: 10px 0;
}
.employeeList .employee .emp_name, .employeeList .employee .emp_status{
  width: 20%;
  height: 80px; 
  background:#ddd;
  display: flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  transition: all 0.3s;
}
.employeeList .employee .emp_status:hover{
  background:blueviolet;
  color:#fff;
}
.employeeList .employee .emp_status.active{
  background-color:blueviolet;
  color:#fff;
}
button{
  width:100%;
  height:100%;
  background:transparent;
  border:none;
}

form{
  width:50%;
  margin:0 auto;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}
form input,form select,form button{
  width:33%;
  height:40px;
  font-size: 14px;
}
.btn{
  background-color:blueviolet;
  color:#fff;
  border: 1px solid blueviolet;
}
.employeeList .employee .emp_status.active button{
  color:white;
}